<%= simple_form_for @comment do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :item_id, as: :hidden %>
    <%= f.input :name %>
    <%= f.input :message %>
    <%= f.input :rating, label: 'Item rating', collection: [5,4,3,2,1], include_blank: false %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
