<h1>Cart</h1>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @item_users.each do |item_user| %>
      <tr>
        <td><%= link_to item_user.item.name, item_user.item %></td>
        <td>
          <%=  simple_form_for item_user, html: { class: 'input-mini' } do |f|  %>
            <%= f.input :quantity, label: false, input_html: { class: 'input-mini pull-left' } %>
            <%= f.submit '>' %>
          <%  end  %>
        </td>
        <td><%= item_user.full_price %></td>
        <td><%= link_to "&#x2717;".html_safe, item_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <th>Total</th>
    <th><%=  current_user.cartQ  %></th>
    <th><%=  current_user.totalCartPrice  %></th>
    <th></th>
  </tfoot>
</table>

<%  if @item_users.any?  %>
  <p>
    <%=  link_to 'Create order',  orders_path, method: :post, class: 'btn btn-success btn-large'  %>
  </p>
<%  end  %>
