<h1>My orders</h1>

<%  if @orders.any?  %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Status</th>
        <th>Price</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <%  @orders.each do |order| %>
      <tr>
        <td><%= order.id  %></td>
        <td><%= order.status  %></td>
        <td><%= order.price %></td>
        <td><%= order.created_at  %></td>
        <td>
          <%  if order.status == 'created'  %>
            <form method="post" action= "https://www.paypal.com/cgi-bin/webscr">
              <input type="hidden" name="cmd"             value="_xclick">
              <input type="hidden" name="business"        value="victorpolko@gmail.com">
              <input type="hidden" name="item_name"       value="Order #<%= order.id %>">
              <input type="hidden" name="item_number"     value="<%= order.id %>">
              <input type="hidden" name="amount"          value="<%= order.price %>">
              <input type="hidden" name="currency_code"   value="RUB">
              <input type="hidden" name="no_shipping"     value="1">
              <input type="hidden" name="cancel_return"   value="<%= payments_cancel_url %>">
              <input type="hidden" name="return"          value="<%= payments_success_url %>">
              <input type="hidden" name="notify_url"      value="<%= payments_notify_url %>">
              <input type="submit"                        value="Pay">
            </form>
          <%  else  %>
            <%=  order.status  %>
          <%  end  %>
        </td>
        <td><%=  link_to 'Show me!',  order  %></td>
      </tr>
    <%  end %>
    </tbody>
  </table>
<%  else  %>
  <p>You have no orders by now..</p>
<%  end  %>
