<%= simple_form_for @contact do |f| %>
  <%= f.input :name %>
  <%= f.input :phone  %>
  <%= f.input :email  %>
  <%= f.input :address  %>
  <%= f.input :website  %>
  <%= f.button :submit, class: 'btn btn-primary'  %>
  <%= link_to 'Back', contacts_path, class: 'btn pull-right btn-inverse'  %>
<%  end %>
