<div class="row">
  <div class="span4"><h1>Contacts</h1></div>
  <div class="span2"></div>
</div>


<%  @contacts.each do |c| %>
  <h2><%= link_to c.name, c %></h2>
  <div class="row">
    <div class="span5"><%=  c.phone %></div>
    <div class="span2">
    <%  if signed_in?  %>
      <%= link_to "Edit", edit_contact_path(c)  %>
      <%= link_to "Delete", c, method: :delete, class: 'pull-right' %>
    <%  end  %>

    </div>
  </div>
  <hr>

<%  end %>

<%  if signed_in?  %>
  <%= link_to "New one", new_contact_path, class: 'btn btn-primary' %>
<%  end %>
