<h1><%= @contact.name %></h1><br>

<address>
  <strong>Phone number</strong><br>
  <%= @contact.phone  %><br>
</address>

<address>
  <strong>Address</strong><br>
  <%= @contact.address  %><br>
</address>

<address>
  <strong>Email</strong><br>
  <a href="mailto:<%= @contact.email  %>"><%= @contact.email  %></a><br>
</address>

<address>
  <strong>Website</strong><br>
  <a href="<%=  @contact.website  %>"><%= @contact.website  %></a>
</address>

<%= link_to 'Back', contacts_path, class: 'btn btn-inverse pull-right'  %>
