<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :special %>
    <%= f.input :photo %>

    <%= f.input :category_id, collection: Category.order(name: :asc) %>
  </div>

  <%= f.button :submit, class: 'btn btn-primary' %>
  <%= link_to 'Back', items_path, class: 'btn btn-inverse pull-right' %>
<% end %>
