<h1>Items</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Price</th>
      <%  if signed_in?  %>
        <th></th>
        <th></th>
      <%  end  %>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= item.rating %></td>
        <td><%= item.price %></td>
        <%  if signed_in?  %>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%  end  %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%  if signed_in?  %>
  <%= link_to 'Add Item', new_item_path, class: 'btn btn-primary' %>
<%  end  %>
