
<%  if signed_in?  %>

  <%=  simple_form_for @item_user do |f|  %>
    <%=  f.input :item_id, as: :hidden %>
    <%=  f.submit 'Add to cart', class: 'btn btn-primary pull-right' %>
  <%  end  %>

  <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-primary' %>

<%  end  %>


<%  if @item.category.present?  %>
  <%= link_to "Back", @item.category, class: 'btn pull-right btn-inverse' %>
<%  else  %>
  <%= link_to "Back", categories_path, class: 'btn pull-right btn-inverse'  %>
<%  end %>
<h1><%= @item.name  %></h1>

<%= image_tag @item.photo(:thumb) %>

<%  if @item.category.present?    %>
  <p>Category: <%=  @item.category.name %></p>
<%  end %>

<p>
  <strong>Rating:</strong>
  <%  if @item.rating %>
    <%= "%.2f" % @item.rating %>
  <%  else  %>
    No rating for now!
  <%  end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %> $
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name  %>
</p>

<p><%=  @item.description %></p>

<%  if @item.special.present? %>
  <p class="alert alert-success"><%=  @item.special %></p>
<%  end %>


<h3>Add a comment</h3>

<%= render 'comments/form' %>

<h3>All comments</h3>

<% @item.comments.each do |comment| %>
  <div class="row well">
    <div class="span2"><b><%= comment.name  %></b></div>
    <div class="span4"><em><%=  comment.message %></em></div>
    <div class="span1">
      <%  if comment.rating >= 4
        badge = 'success'
      elsif comment.rating > 2
        badge = 'warning'
      else
        badge = 'important'
      end %>
        <span class="badge badge-<%= badge %>"><%= comment.rating  %></span>
    </div>
  </div>
<% end %>
