<%= simple_form_for @post do |f|  %>
  <%= f.input :title  %>
  <%= f.input :description, as: :text %>
  <%= f.input :description, as: :radio_buttons  %>
  <%= f.input :description, as: :check_boxes  %>
  <%= f.input :description, as: :boolean  %>
  <%= f.button :submit, class: 'btn btn-primary'  %>
  <%= link_to 'Back', posts_path, class: 'btn btn-inverse pull-right' %>
<%  end %>
