<div class="row">
  <div class="span4"><h1>Posts</h1></div>
  <div class="span2"></div>
</div>


<%  @posts.each do |p|  %>
  <h2><%= link_to p.title, p  %></h2>
  <div class="row">
    <div class="span5"><%=  p.description %></div>
    <div class="span2">
      <%  if signed_in?  %>
        <%= link_to "Edit", edit_post_path(p) %>
        <%= link_to "Delete", p, method: :delete, class: 'pull-right' %>
      <%  end  %>
    </div>
  </div>
  <hr>

<%  end %>

  <%= link_to "New one", new_post_path, class: 'btn btn-primary'  %>
