// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-card  {
  background    : #eeeeee;
  border        : 1px solid #aaaaaa;
  border-radius : 5px;
  padding       : 10px;
  width         : 200px;
  margin        : 0 10px 10px 0;
  float         : left;
  .name {
    font-size   : 140%;
    font-weight : bold;
  }
  .price  {
    color   : navy;
  }
  .photo  {
    float   : right;
    img {
      border-radius:  5px;
    }

  }
}

.btn  {
  clear     : both;
}
