<%= simple_form_for @category do |f|  %>
  <%= f.input :name %>
  <%= f.button :submit, class: 'btn btn-primary'  %>
  <%= link_to 'Back', categories_path, class: 'btn pull-right btn-inverse'  %>
<%  end %>
