<h1>Categories</h1>

<table class="table-striped table-hover table">
  <!-- <caption>Goods</caption> -->
  <%  @categories.each do |cat| %>
    <%  if cat.items.any? %>
      <tr>
        <td><b><%=  link_to cat.name, category_path(id: cat.id) %></b></td>
        <%  if signed_in?  %>
          <td><%= link_to 'Edit category', edit_category_path(id: cat.id) %></td>
          <td><%= link_to 'Delete', cat, method: :delete, confirm: 'Sure?'  %></td>
        <%  end  %>
      </tr>
    <%  end %>
  <%  end %>
</table>

<%  if signed_in?  %>
  <%= link_to 'Add one', new_category_path, class: 'btn btn-primary'  %>
<%  end  %>
