h1 = @cat.name

- @cat.items.each do |item|
  .item-card
    .name
      = link_to item.name, item
      - if item.rating
        div class="pull-right badge badge-#{item.ratingBadge}"
          = "%.2f" % item.rating

    .price = item.price
    .photo = link_to image_tag(item.photo(:thumb)), item

.footer
  = link_to 'Add Item', new_item_path, class: 'btn btn-primary pull-left'
  = link_to 'Back', categories_path, class: 'btn pull-right btn-inverse'
