<h1><%= @cat.name %></h1>

<%  @cat.items.each do |item| %>
  <%  if item.rating && item.rating >= 4
    badge = 'success'
  elsif item.rating && item.rating > 2
    badge = 'warning'
  else
    badge = 'important'
  end %>
  <div class="item-card">
    <div class="name"><%= link_to item.name, item %>
      <%  if item.rating  %>
        <div class="pull-right badge badge-<%= badge %>"><%=  "%.2f" % item.rating %></div>
      <%  end  %>
    </div>
    <div class="price"><%=  item.price  %> $</div>
    <div class="photo"><%=  link_to (image_tag item.photo(:thumb)), item  %></div>
  </div>
<%  end %>

<div class="footer">
  <%= link_to 'Add Item', new_item_path, class: 'btn btn-primary pull-left' %>
  <%= link_to 'Back', categories_path, class: 'btn pull-right btn-inverse'  %>
</div>
