html
  head
    title Ruby-on-Rails Shop
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    .container
      .navbar
        .navbar-inner
          ul.nav
            li= link_to 'Main', root_path
            li.divider-vertical
            li= link_to t('navbar.goods'),categories_path
            li.divider-vertical
            li= link_to t('navbar.team'), members_path
            li.divider-vertical
            li= link_to t('navbar.contacts'), contacts_path
            li.divider-vertical
            li= link_to t('navbar.blog'), posts_path
          - if signed_in?
            = link_to t('navbar.logout'), destroy_user_session_path, method: :delete, class: 'btn btn-inverse pull-right unclear'
            = link_to t('cart'), item_users_path, class: 'btn btn-info clearfix pull-right unclear'
            = link_to t('navbar.orders'), orders_path, class: 'btn btn-success clearfix pull-right unclear' if current_user.orders.any?

      .row
        .span7
          - if notice
            p.notice = notice
          - if alert
            p.alert = alert
          = yield

        .span5
          .hero-unit style='height: 500px'
            - if signed_in?
              p= t('hello')
              p
                = t('sidebar.greetings') + ', '
                = current_user.email
              div
                = link_to t('cart'), item_users_path, class: ''
                = " - #{ current_user.cartQ } "
                = "#{ t('items') } - "
                =  "$ #{ current_user.totalCartPrice }"

            - else
              p
                = t('sidebar.unknown')
                = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary'
                = t('sidebar.met?')
                = link_to "Sign in", new_user_session_path, class: 'btn btn-primary'

      .footer
