<%= simple_form_for @member do |f|  %>
  <%= f.input :name %>
  <%= f.input :position %>
  <%= f.input :age  %>
  <%= f.button :submit, class: 'btn btn-primary'  %>
  <%= link_to 'Back', members_path, class: 'btn btn-inverse pull-right' %>
<%  end %>
