<h1>Team</h1>

<table class="table-striped table-hover table">
  <thead>
    <th>Name</th>
    <th>Position</th>
    <th>Age</th>
    <%  if signed_in?  %>
      <th></th>
      <th></th>
    <%  end  %>
  </thead>
  <%  @members.each do |m|  %>
    <tr>
      <td><%= link_to m.name, member_path(id: m.id) %></td>
      <td><%= m.position  %></td>
      <td><%= m.age %></td>
      <%  if signed_in?  %>
        <td><%= link_to 'Edit info', edit_member_path(id: m.id) %></td>
        <td><%= link_to 'Delete member', m, method: :delete, confirm: 'Sure?' %></td>
      <%  end  %>
    </tr>
  <%  end %>
</table>

<%  if signed_in?  %>
  <%= link_to 'Add one', new_member_path, class: 'btn btn-primary'  %>
<%  end  %>
