<h1><%= @member.name  %></h1>

<dl class="dl-horizontal">
  <dt>Position</dt>
  <dd><%= @member.position  %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Age</dt>
  <dd><%= @member.age %></dd>
</dl>

<%= link_to 'Back', members_path, class: 'btn btn-inverse pull-right' %>
